.about {
    background-color: $lightpink;
    max-width: 1440px;
    margin: 0 auto;
    // @include border;
    padding-bottom: 20rem;
    @include xs {
        padding-bottom: 0;
    }
}

.about__upperText {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    // font-weight: 600;
    // letter-spacing: 8px;
    // color: $textGrey;
    padding-top: 150px;
    // font-size: 1.4rem;
    @include fontStyleH5;
}

.about--contentContainer {
    // @include border;
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    // height: 300px;
    position: relative;
    @include xs {
        flex-direction: column;
    }
}

.about--imgContainer {
    flex: 1 0 45%;
    border: 10px solid white;
}

.about--textContainer {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column; 
    // justify-content: space-between;
    padding: 0 0 0 50px;
    margin-bottom: 0;
    @include xs {
        padding: 0;
    }
}

.about--textContainer__line {
    width: 50px;
    border-bottom: 1px solid black;
    @include xs {
        display: none;
    }

}

.about--textContainer__title {
    font-size: 3.5rem;
    font-family: $headings;
    @include xs {
        @include fontStyleH3;
    }
}

.about--textContainer__par,
.about--textContainer__name {
    // font-size: 1.2rem;
    // line-height: 30px;
    // letter-spacing: 0.3px;
    // font-weight: 400;
    // in _mysettings;
    @include fontStyleP;
    margin: 0;
}

.about--textContainer__name span {
    color: black;
    font-weight: 600;
}

.about--circle {
    img {
        position: absolute;
        bottom: -100px;
        left: -100px;
        z-index: 1;
        width: 210px;
        height: 210px;
    }
    @include xs {
        display: none;
    }
}

.about--textContainer__name {
    @include xs {
        padding-bottom: 4rem;
        padding-top: 2rem;
    }
}


























