.about {
    background-color: $lightpink;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 10rem;
    @include md {
        padding-bottom: 5rem;
    }
    @include xs {
        padding-bottom: 3rem;
    }
}

.about__upperText {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    padding-top: 100px;
    @include fontStyleH5;
    @include md {
        padding-top: 5rem;
    }
    @include xs {
        padding-top: 3rem;
    }
}

.about--contentContainer {
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    @media only screen and (max-width: 900px) {
        max-width: 90%;
    }
    @media only screen and (max-width: 700px) {
        max-width: 95%;
    }
    @media only screen and (max-width: 670px) {
        flex-direction: column;
        max-width: 70%;
    }
}

.about--imgContainer {
    flex: 1 0 45%;
    border: 10px solid white;

    img {
        display: block;
        width: 100%;
    }
    @media only screen and (max-width: 670px) {
        margin-bottom: 2rem;
    }

}

.about--textContainer {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column; 
    padding: 0 0 0 50px;
    margin-bottom: 0;
    @media only screen and (max-width: 900px) {
    padding: 0 0 0 40px;
    }
    @media only screen and (max-width: 700px) {
    padding: 0 0 0 25px;
    }
    @media only screen and (max-width: 670px) {
    padding: 0 0 0 0px;
    }
}


.about--textContainer__line {
    width: 50px;
    border-bottom: 1px solid black;
    @include xs {
        display: none;
    }

}

.about--textContainer__title {
    font-size: 3.5rem;
    font-family: $headings;
    @include md {
        @include fontStyleH3;
    }
}

.about--textContainer__par,
.about--textContainer__name {
    // font-size: 1.2rem;
    // line-height: 30px;
    // letter-spacing: 0.3px;
    // font-weight: 400;
    // in _mysettings;
    @include fontStyleP;
    margin: 0;
}

.about--textContainer__name span {
    color: black;
    font-weight: 600;
}

.about--circle {
    img {
        position: absolute;
        bottom: -100px;
        left: -100px;
        z-index: 1;
        width: 210px;
        height: 210px;
    }
    @include lg {
        display: none;
    }
}

.about--textContainer__name {
    @include xs {
        padding-bottom: 4rem;
        padding-top: 2rem;
    }
}


























