.visually-hidden:not(:focus):not(:active) { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.contacts-footer-img-container {
    background-image: url(../assets/contact-2.jpeg);
    background-image: cover;
    min-height: 670px;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-headerTitle1 {
    @include fontStyleContactPageHeaders;
    margin-top: 10rem;
    margin-bottom: 2.5rem;
}

.contact-headerPar1 {
    max-width: 40%;
}

.methodsOfContact-outerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 7rem;
    i {
        font-size: 3rem;
    }
}

.methodsOfContact-containers {
    display: flex;
    flex-direction: column;
    flex: 1 0 30%;
    padding: 0 5rem;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
    &:nth-child(3n + 3) {
        border-right: none;
    }
    h5 {
        @include contactPageMiniHeaders;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    p {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

.contact-headerTitle2 {
    @include fontStyleContactPageHeaders;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.contact-headerPar2 {
    padding-bottom: 7rem;
}

.contactForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    input, textarea {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        &:hover {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 1);
        }
    }
}

#contactFormName,
#contactFormEmail,
#contactFormSubject {
    height: 3rem;
    flex: 1 0 30%;
    margin-right: 10px;
    margin-left: 10px;
    &:nth-child(3n + 3) {
        margin-right: 0;
    }
    &::placeholder {
    @include fontStyleP;
    opacity: 1;   
    }
    &:hover::placeholder {
        color: black;
    }
}

#contactFormName {
    margin-left: 0;
}

#contactFormText {
    margin-top: 2rem;
    width: 100%;
    height: 150px;
    @include fontStyleP;
    font-family: $secondary; 
    resize: none;
    &::placeholder {
        opacity: 1;
    }
    &:hover::placeholder {
        color: black;
        opacity: 1;
    }
}

.textareaButton {
    font-size: 1.3rem;
    margin-top: 4rem;
    margin-bottom: 9rem;
    height: 2.5rem;
    padding: 0;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);

}