.blogBody {
    background-color: $lightpink;
    height: 2360px;
    position: relative;
    .topCenteredHeader {
        @include fontStyleContactPageHeaders;
        max-width: 70%;
        @include md {
            max-width: 90%;
        }

    }
    @include xs {
        height: auto;
    }
}

.blogBodyContainer {
    position: absolute;
    top: -8rem;
    left: 0;
    right: 0;
    bottom: auto;
    width: 90%;
    max-width: 1180px;
    background-color: white;
    margin: 0 auto;
    @include xs {
        max-width: 90%;
        position: relative;
    }
}

.topCeneteredHeaderAndPar {
    @include flexVer;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    .topCenteredPar {
        @include md {
            font-size: 1.2rem;
            max-width: 80%;
        }
        @include sm {
            font-size: 1.2rem;
            max-width: 100%;
        }

    }
    .topCenteredHeader {
        text-align: center;
        @include lg {
            font-size: 2.5rem;
        }
        @include md {
            font-size: 2rem;
        }
        @include sm {
            font-size: 1.8rem;
        }

    }
    span {
        color: black;
    }
}

.first {
    padding-top: 2rem;
        @include lg {
            padding-top: 5rem;
        }
        @include md {
            padding-top: 2rem;
        }
        @include sm {
            // padding-top: 1rem;
        }
}
.adminDateCategoryContainer {
    display: flex;
    flex-direction: row;
    height: 10rem;
    border: 1px solid transparent;
    border-bottom: 1px solid $darkpink;
    margin-bottom: 5rem;

    @include lg {
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .adminDateCategoryContainer-leftContainer {
        flex: 1 1 50%;
        display: flex;
        justify-content: flex-start;
        @include lg {
            margin-bottom: 0.5rem;
        }
        &__rightSide {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .adminDateCategoryContainer-rightContainer {
        flex: 1 0 50%;
        display: flex;
        justify-content: space-between;
        @include flexHor;
        @include lg {
            // margin-bottom: 2rem;
        }
        .rightContainer-box {
            flex: 1 0 30%;
            display: flex;
            flex-direction: column;
            // justify-content: flex-start;
            align-items: flex-start;
            @include xs {
                font-size: 1rem;
                // align-items: flex-start;
                text-align: left;
                // flex-direction: row;
            }
        }
        // .rightContainer-box:last-child {
        //     @include sm {
        //         display: none;
        //     }
        // }
        @include lg {
            margin-top: 2rem;
        }
        @include xs {
            margin-top: 1rem;
        }
    }
    H5 {
        @include contactPageMiniHeaders;
        margin-top: 2rem;
        margin-bottom: 0rem;
        @include md {
            font-size: 1.2rem;
        }
        @include sm {
            font-size: 1rem;
        }
    }

    p {
        @include md {
            font-size: 1rem;
        }
        @include sm {
            font-size: 0.8rem;
        }
    }
    @include lg {
        // flex-direction: column;
        margin-bottom: 5rem;
    }
    @include xs {
        flex-direction: column;
        margin-bottom: 5rem;
    }
}

.avatarCircleContainer {
    img {
        border-radius: 100%;
        margin-right: 2rem;
        // z-index: 2;
    }
}


.adminDateCategoryContainer-leftContainer__rightSide,
.rightContainer-box {
    margin-top: 0;
    margin-bottom: 0;
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.blog-body-paragraphs {
    padding-bottom: 2rem;
    margin: 0 auto;
    @include md {
    }
    @include xs {
        // max-width: 90%;
    }
    &:hover {
        color: black;
    }
}

.blogBody--socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // text-align: center;
    H5 {
        @include contactPageMiniHeaders;
        @include sm {
            // margin-bottom: 0;
            // margin-top: 0;
        }
    }
    .blogBody--socials_Container {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin-bottom: 6rem;
        li {
            padding: 1rem;
        }
        @include md {
            margin-bottom: 0;
        }
    }
}

.blogBody--socials_Container a {
    color: $textGrey;
    &:hover {
        color: $mint;
    }
}

.relatedPosts, .blog--commentsSection__header, .blog--comment--form {
    @include bottomBorder;
    H4 {
        @include fontStyleH4;   
    }
}

.relatedPostsArticles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    @include xs {
        flex-direction: column;
    }
}

.relatedPostsArticles {
    .articleBox {
        flex: 1 0 30%;
        margin-right: 20px;
        padding: 0;
        height: auto;
        @include bottomBorder;
        &:nth-child(3) {
            margin-right: 0;
        }
        &__H5 {
            font-family: $headings; 
            font-size: 1.6rem;  
            font-weight: 700;
            letter-spacing: 0px;
            color: black;
            width: 80%;
        }
        .fa-long-arrow-alt-right {
            position: relative;
            top: -3.3rem;
            left: 6rem;
            font-size: 1.5rem;
            color: $textGrey;
        }
        &:hover {
        box-shadow: 0 6px 2px -2px gray;
            H5 {
                text-decoration: underline;
            }
            .articleBox__continue, .fa-long-arrow-alt-right {
                color: black;
            }
        }
    }
}

.blog--commentsSection__header {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.blog--commentContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    // @include xs {
        //     padding-bottom: 0rem;
        // }
    }


.commentContainer__leftSide {
    // width: 50px;
    // height: 50px;
    flex: 1 0 2%;
    // flex-basis: ;
    img {
        display: block;
        min-width: 70px;
        max-width: 90px;
        @include md {
            padding-right: 2rem;
        }
    }

    @include xl {
        flex: 1 1 1%;
        margin-right: 0rem;
    }
    @include lg {
        flex: 1 1 10%;
        // margin-right: 2rem;
    }
    @include md {
        // flex: 1 1 10%;
        // margin-right: 2rem;
    }
}

.commentContainer__rightSide {
    flex: 1 1 85%;
    background-color: $lightpink;
    height: auto;
    padding-left: 2rem;
    padding-top: 1rem;
    position: relative;
    .tip {
        position: absolute;
        top: 1rem;
        left: -1.3rem;
        color: $lightpink;
    }
    .commentName {
        color: black;
        font-size: 1.4rem;
        span {
            color: $mint;
            font-style: italic;
        }
    }
    .commentDate {
        color: rgba($textGrey, $alpha: 0.6);
        font-size: 1rem;
    }
    @include xl {
        flex: 1 1 80%;
    }
    @include lg {
        // flex: 1 1 70%;
    }
    // @include md {
    //     flex: 1 1 15%;
    //     margin-right: 2rem;
    // }
    
}

.commentName,
.commentText,
.commentDate {
    margin: 0;
}

.commentText {
    padding-right: 1rem;
    line-height: 150%;
}

// forms
.blog--comment--form {
    margin-bottom: 4rem;
}

.textareaButton.blogPageButton {
    background-color: $green;
    padding: 1.5rem 2rem 2.5rem 2rem;
    color: white;
    border: none;
    &:hover {
        border: none;
        background-color: darkolivegreen;
    }
}

.contactForm.blog-page-contact {
    #contactFormEmail,
    #contactFormSubject {
        @include xs {
            margin-left: 0;
        }
    }
    .textareaButton {
        @include xs {
            margin-bottom: 1rem;
        }
    }
    #contactFormName,
    #contactFormEmail {
        @include xs {
            margin-right: 0;
        }
    }
}

@media (min-width: 450px) and (max-width: 662px) {
    #contactFormSubject,
    #contactFormEmail {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (min-width: 468px) and (max-width: 520px) {
    .blogBody {
        height: 2460px;
    }
    
}
@media (min-width: 455px) and (max-width: 467px) {
    .blogBody {
        height: 2560px;
    }
    
}
@media (min-width: 400px) and (max-width: 454px) {
    .blogBody {
        height: 3400px;
    }
    
}