.blogBody {
    background-color: $lightpink;
    height: 2260px;
    position: relative;
    .topCenteredHeader {
        @include fontStyleContactPageHeaders;
        max-width: 70%;
    }
    @include xs {
        height: auto;
    }
}

.blogBodyContainer {
    position: absolute;
    top: -8rem;
    left: 0;
    right: 0;
    bottom: auto;
    width: 1180px;
    background-color: white;
    margin: 0 auto;
    @include xs {
        max-width: 90%;
        position: relative;
    }
}

.topCeneteredHeaderAndPar {
    @include flexVer;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    .topCenteredHeader {
        text-align: center;
    }
    span {
        color: black;
    }
}

.adminDateCategoryContainer {
    display: flex;
    flex-direction: row;
    height: 10rem;
    border: 1px solid transparent;
    border-bottom: 1px solid $darkpink;
    margin-bottom: 5rem;
    .adminDateCategoryContainer-leftContainer {
        flex: 1 0 50%;
        display: flex;
        justify-content: flex-start;
        &__rightSide {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .adminDateCategoryContainer-rightContainer {
        flex: 1 0 50%;
        display: flex;
        justify-content: space-between;
        @include flexHor;
        .rightContainer-box {
            flex: 1 0 30%;
            display: flex;
            flex-direction: column;
            // justify-content: flex-start;
            align-items: flex-start;
            @include xs {
                scale: 70%;
                // align-items: flex-start;
                text-align: left;
                // flex-direction: row;
            }
        }
        @include xs {
            margin-top: 3rem;
        }
    }
    H5 {
        @include contactPageMiniHeaders;
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
    @include xs {
        flex-direction: column;
        margin-bottom: 10rem;
        // margin-bottom: ;
    }
}

.avatarCircleContainer {
    img {
        border-radius: 100%;
        margin-right: 2rem;
        // z-index: 2;
    }
}


.adminDateCategoryContainer-leftContainer__rightSide,
.rightContainer-box {
    margin-top: 0;
    margin-bottom: 0;
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.blog-body-paragraphs {
    padding-bottom: 2rem;
    margin: 0;
    &:hover {
        color: black;
    }
}

.blogBody--socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // text-align: center;
    H5 {
        @include contactPageMiniHeaders;
    }
    .blogBody--socials_Container {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin-bottom: 6rem;
        li {
            padding: 1rem;
        }
    }
}

.blogBody--socials_Container a {
    color: $textGrey;
    &:hover {
        color: $mint;
    }
}

.relatedPosts, .blog--commentsSection__header, .blog--comment--form {
    @include bottomBorder;
    H4 {
        @include fontStyleH4;   
    }
}

.relatedPostsArticles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    @include xs {
        flex-direction: column;
    }
}

.articleBox {
    flex: 1 0 30%;
    margin-right: 20px;
    padding: 0;
    height: auto;
    @include bottomBorder;
    &:nth-child(3) {
        margin-right: 0;
    }
    &__H5 {
        font-family: $headings; 
        font-size: 1.6rem;  
        font-weight: 700;
        letter-spacing: 0px;
        color: black;
        width: 80%;
    }
    .fa-long-arrow-alt-right {
        position: relative;
        top: -3.3rem;
        left: 6rem;
        font-size: 1.5rem;
        color: $textGrey;
    }
    &:hover {
    box-shadow: 0 6px 2px -2px gray;
        H5 {
            text-decoration: underline;
        }
        .articleBox__continue, .fa-long-arrow-alt-right {
            color: black;
        }
    }
}

.blog--commentsSection__header {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.blog--commentContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    .commentContainer__leftSide {
        // width: 50px;
        // height: 50px;
        flex: 1 0 5%;
        // flex-basis: ;
        @include xs {
            flex: 1 0 10%;
            margin-right: 1rem;
        }
    }
    @include xs {
        padding-bottom: 0rem;
    }
}

.commentContainer__rightSide {
    flex: 1 0 85%;
    background-color: $lightpink;
    height: 100px;
    padding-left: 2rem;
    padding-top: 1rem;
    position: relative;
    .tip {
        position: absolute;
        top: 1rem;
        left: -1.3rem;
        color: $lightpink;
    }
    .commentName {
        color: black;
        font-size: 1.4rem;
        span {
            color: $mint;
            font-style: italic;
        }
    }
    .commentDate {
        color: rgba($textGrey, $alpha: 0.6);
        font-size: 1rem;
    }
    @include xs {
        flex: 1 0 70%;
        height: auto;
    }
}

.commentName,
.commentText,
.commentDate {
    margin: 0;
}


// forms
.blog--comment--form {
    margin-bottom: 4rem;
}

.textareaButton.blogPageButton {
    background-color: $green;
    padding: 1.5rem 2rem 2.5rem 2rem;
    color: white;
    border: none;
    &:hover {
        border: none;
        background-color: darkolivegreen;
    }
}

.contactForm.blog-page-contact {
    #contactFormEmail,
    #contactFormSubject {
        @include xs {
            margin-left: 0;
        }
    }
    .textareaButton {
        @include xs {
            margin-bottom: 1rem;
        }
    }
}










// .tip {
//   width: 0px;
//   height: 0px;
//   position: absolute;
//   background: transparent;
//   border: 10px solid green;
// }
// .tip-left {
//   top: 0px;
//   left: 0px;
//   border-top-color: transparent;
//   border-left-color: transparent;
//   border-bottom-color: transparent;  
// // }

