
.contacts--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 500px;

    @include md {
        min-height: 450px;
        // padding: 5rem 0;
    }

    @include xs {
        flex-direction: column;
    }
}

.contacts--leftContainer {
    flex: 1 1 55%;
    display: flex;
    align-items: center;

    img {
        display: block;
        width: auto;
    }
    @include xl {
        flex: 1 1 50%;
    }
    @include lg {

    }
    @include md {
        display: none;
    }
    @include sm {

    }
    @include xs {
        order: 2;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
}

.contacts--rightContainer {
    flex: 1 0 45%;
    display: flex;
    flex-direction: column;
    padding-left: 15rem;
    padding-top: 7rem;

    h5 {
        @include fontStyleH5;
        @include xs {
            text-align: center;
            margin-bottom: 5rem;
        }
    }
    h2 {
        @include fontStyleH2;
        margin-top: 0;
        margin-bottom: 3rem;

        @include md {
            font-size: 3.5rem;
            margin-bottom: 1rem;
        }
        @include xs {
            text-align: center;
            margin-bottom: 1rem;
        }
    }
    h3 {
        @include fontStyleH3;
        color: $textGrey;
        span {
            color: black;
        }
    }
    p {
        width: 300px;
        margin-top: 0;
        margin-bottom: 0;
        @include lg {
            width: 100%;
        }

    }

    @include xl {
        flex: 1 1 50%;
        padding-left: 10rem;
        padding-top: 3rem;
    }

    @include lg {
        padding-left: 6rem;
    }

    @include md {
        padding-left: 3rem;
        text-align: center;
    }

    @include sm {

    }

    @include xs {
        order: 1;
        padding: 3rem;
    }
}


.contacts--email {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include md {
        padding: 1rem 0;
    }

    span {
        font-weight: 600;
        color: black;
    }
}

.contacts--call {
    span {
        display: block;
        color: black;
        font-family: $headings; 
        font-size: 3rem;
        @include sm {
            font-size: 2.5rem;
        }
    }
}