.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include xs {
        flex-direction: column;
    }
}


.info--leftContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // text-align: center;
    // width: 70%;
    flex: 1 0 65%;
    padding-left: 13%;
    padding-right: 7%;
    padding-top: 7%;
    padding-bottom: 7%;
    @include xs {
        flex-direction: column;
        // flex-wrap: wrap;
        max-width: 75%;
        margin: 0 auto;
        padding: 0;
        order: 2;
    }
}

.info--rightContainer {
    flex: 1 0 30%;
    // width: 30%;
    display: flex;
    flex: 1 0 35%;
    align-items: center;
    img {
        // position: absolute;
        // top: 0;
        // right: -180px;
        height: auto;
    }
    @include xs {
        order: 1;
        margin-top: 0rem;
        margin-bottom: 2rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}


.articleBox {
    width: 45%;
    padding-left: 30px;
    div {
        position: relative;
        i {
            position: absolute;
            top: 18px;
            left: -42px;
            font-size: 2.4rem;
            @include xs {
                display: none;
            }
        }
    }
    @include xs {
        width: 100%;
        margin-bottom: 2rem;
        &:hover {
            h5 {
                text-decoration: none !important;
            }
        }
    }
}