.reviews {
    padding-top: 15rem;
    background-image: url(../assets/pattern.png);
    background-position: center;
    display: flex;
    height: 720px;
    @include md {
    padding-top: 5rem;
    }
    @include xs {
    padding-top: 0rem;
    background-image: none;
    height: auto;
    }
}
.reviews-wrapper {
    display: flex;
    position: relative;
}

.testimonial {
    width: 100%;
    height: 550px;
    background-color: white;
    padding: 7rem 5rem;
    text-align: center;
    h5 {
        @include fontStyleH5;
        @include xs {
            font-size: 1rem;
        }
    }
    h2 {
        @include fontStyleH2;
        @include lg {
            font-size: 3rem;
        }
        @include xs {
            font-size: 2.5rem;
        }
    }
    .review--italic_par {
        @include fontStyleItalic;

        @include lg {
            font-size: 2rem;
        }
        @include sm {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        @include xs {
            font-size: 1.6rem;
        }
    }
    .fivestars i {
        font-size: 2rem;
        color: $orange;
    }
    .fivestars {
        @include xs {
            text-align: center;
        }
    }
    .reviews__name {
        @include fontStyleP;
        span {
            color: black;
            font-weight: 600;
        }
    }
    @include sm {
        padding: 3rem 1rem;
    }
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: 275px;
    font-size: 5rem;
    i:hover {
        color: $textGrey;
    }
    // @include xs {
    //     display: none;
    // }
}

.left-arrow {
    left: -5rem;

    @include xl {
        left: 0rem;
    }
    @include lg {
        left: 0rem;
    }

    @include sm {
        top: 225px;
        font-size: 3rem;
    }

    @include xs {
        top: 255px;
    }
}

.right-arrow {
    right: -5rem;

    @include xl {
        right: 0rem;
    }

    @include sm {
        top: 225px;
        font-size: 3rem;
    }

    @include xs {
        top: 255px;
    }
}