@mixin flexVer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
@mixin flexHor {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
@mixin border {
    border: 1px solid red;
}




$lightpink: #EDEDED;
$darkpink: #CCCCCC;
$mint: #A4F1DC;
$green: #84A016;
$orange: #F6AB09;
$textGrey: #999999;

$headings: 'Playfair Display', serif;
$secondary: 'Poppins', serif;

$h5fontsize: 1.4rem;


@mixin fontStyleH5 {
    color: $textGrey;
    letter-spacing: 8px;
    font-size: 1.4rem;
}

@mixin fontStyleH4 {
font-family: "Playfair Display", serif;
font-size: 2.1rem;
font-weight: 700;
letter-spacing: 0.5px;
}

@mixin fontStyleH3 {
    font-family: $headings; 
    font-size: 2.3rem;  
    font-weight: 700;
    letter-spacing: 1.2px;
}

@mixin fontStyleH2 {
    font-family: $headings; 
    font-size: 4.8rem;  
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 60px;
}

@mixin fontStyleItalic {
    font-family: $headings; 
    font-style: italic;
    line-height: 3.6rem;
    font-size: 2.4rem;
    color: black;
}

@mixin fontStyleP {
    color: $textGrey;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400;
}

@mixin bottomBorder {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid $darkpink;
}



// contact page mixins
@mixin fontStyleContactPageHeaders {
    font-family: $headings; 
    font-size: 3.5rem;  
    font-weight: 700;
    letter-spacing: 0.5px;
}

@mixin contactPageMiniHeaders {
    font-family: $headings; 
    font-size: 1.4rem;  
    font-weight: 700;
    letter-spacing: 1.2px;
    color: black;
}

//Responsive

// Credit: https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2

//smallest screen size for mobile view
$screen-xs-min: 320px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// extra small mobile view
@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
}

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin tablet-and-phone {
    @media (max-width: $screen-md-min) {
        @content;
    }
}
