html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  color: black;
  font-size: 1.6rem;
  max-width: 1440px;
  margin: 0 auto; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: black; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

p {
  color: #999999;
  font-size: 1.2rem;
  line-height: 25px;
  letter-spacing: 0.3px;
  font-weight: 400; }

.header--nav {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 10; }

.wrapper--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header--list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header--list a:hover {
    color: #999999; }

.header-left,
.header-right,
.header-logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%; }

.header--logo h1 {
  font-family: "Playfair Display", serif;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 1.4px;
  line-height: 26px; }

.header-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .header-left a {
    margin-right: 30px; }

.header-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .header-right a, .header-right i {
    margin-left: 30px; }

.shoppingBagCircle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.shoppingBagCircle div {
  position: absolute;
  content: '';
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #A4F1DC;
  font-size: 10px;
  padding-top: 2px; }

.hero-img {
  background-image: url(../assets/home-1.jpeg);
  height: 80vh;
  min-height: 500px;
  background-size: cover;
  background-position: center; }

.hero-img-contacts {
  background-image: url(../assets/contact-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 540px;
  background-position: center; }

.hero-img-blog {
  background-image: url(../assets/blog-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 540px;
  background-position: center; }

.about {
  background-color: #EDEDED;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 20rem; }

.about__upperText {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  padding-top: 150px;
  color: #999999;
  letter-spacing: 8px;
  font-size: 1.4rem; }

.about--contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  position: relative; }

.about--imgContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 45%;
  flex: 1 0 45%;
  border: 10px solid white; }

.about--textContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0 0 50px;
  margin-bottom: 0; }

.about--textContainer__line {
  width: 50px;
  border-bottom: 1px solid black; }

.about--textContainer__title {
  font-size: 3.5rem;
  font-family: "Playfair Display", serif; }

.about--textContainer__par,
.about--textContainer__name {
  color: #999999;
  font-size: 1.2rem;
  line-height: 25px;
  letter-spacing: 0.3px;
  font-weight: 400;
  margin: 0; }

.about--textContainer__name span {
  color: black;
  font-weight: 600; }

.about--circle img {
  position: absolute;
  bottom: -100px;
  left: -100px;
  z-index: 1;
  width: 210px;
  height: 210px; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.info--leftContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 65%;
  flex: 1 0 65%;
  padding-left: 13%;
  padding-right: 7%;
  padding-top: 7%;
  padding-bottom: 7%; }

.info--rightContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 35%;
  flex: 1 0 35%; }
  .info--rightContainer img {
    height: auto; }

.articleBox {
  width: 45%;
  padding-left: 30px; }
  .articleBox div {
    position: relative; }
    .articleBox div i {
      position: absolute;
      top: 18px;
      left: -42px;
      font-size: 2.4rem; }

.reviews {
  padding-top: 15rem;
  background-image: url(../assets/pattern.png);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 720px; }

.reviews-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.testimonial {
  width: 100%;
  height: 550px;
  background-color: white;
  padding: 7rem 5rem;
  text-align: center; }
  .testimonial h5 {
    color: #999999;
    letter-spacing: 8px;
    font-size: 1.4rem; }
  .testimonial h2 {
    font-family: "Playfair Display", serif;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 60px; }
  .testimonial .review--italic_par {
    font-family: "Playfair Display", serif;
    font-style: italic;
    line-height: 3.6rem;
    font-size: 2.4rem;
    color: black; }
  .testimonial .fivestars i {
    font-size: 2rem;
    color: #F6AB09; }
  .testimonial .reviews__name {
    color: #999999;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400; }
    .testimonial .reviews__name span {
      color: black;
      font-weight: 600; }

.left-arrow,
.right-arrow {
  position: absolute;
  top: 275px;
  font-size: 5rem; }
  .left-arrow i:hover,
  .right-arrow i:hover {
    color: #999999; }

.left-arrow {
  left: -5rem; }

.right-arrow {
  right: -5rem; }

.gallery {
  padding-top: 10rem;
  background-image: url(../assets/pattern.png);
  background-position: center;
  padding-bottom: 12rem; }

.gallery-wrapper h5 {
  color: #999999;
  letter-spacing: 8px;
  font-size: 1.4rem;
  text-align: center; }

.gallery-wrapper h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 60px;
  text-align: center; }

.gallery--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .gallery--container div {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
    margin-right: 10px;
    margin-bottom: 10px; }
    .gallery--container div:nth-child(3n + 3) {
      margin-right: 0; }
    .gallery--container div:nth-child(n + 4) {
      margin-bottom: 0; }
    .gallery--container div img {
      display: block; }

.contacts--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contacts--leftContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 45%;
  flex: 1 0 45%; }
  .contacts--leftContainer img {
    display: block; }

.contacts--rightContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 15rem;
  padding-top: 10rem; }
  .contacts--rightContainer h5 {
    color: #999999;
    letter-spacing: 8px;
    font-size: 1.4rem; }
  .contacts--rightContainer h2 {
    font-family: "Playfair Display", serif;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 5rem; }
  .contacts--rightContainer h3 {
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #999999; }
    .contacts--rightContainer h3 span {
      color: black; }
  .contacts--rightContainer p {
    width: 300px;
    margin-top: 0;
    margin-bottom: 0; }

.contacts--email {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .contacts--email span {
    font-weight: 600;
    color: black; }

.contacts--call span {
  display: block;
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 3rem; }

.footer {
  min-height: 270px;
  padding-top: 6rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.8); }

.footer--upperConainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer--upperConainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .footer--upperConainer ul li:hover a {
      color: white; }
    .footer--upperConainer ul a {
      color: white;
      color: #999999;
      font-size: 1.2rem;
      line-height: 25px;
      letter-spacing: 0.3px;
      font-weight: 400;
      line-height: 2rem; }

.form--container {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #999999;
  font-size: 1.2rem;
  line-height: 25px;
  letter-spacing: 0.3px;
  font-weight: 400; }
  .form--container label {
    display: block; }
  .form--container input[type=email] {
    width: 100%;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999999;
    height: 41px; }
  .form--container input[placeholder] {
    font-size: 1.4rem;
    color: #999999;
    padding-left: 0; }

.footer--upperConainer ul {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.paperPlaneContainer {
  position: relative;
  right: 0;
  top: 0; }
  .paperPlaneContainer i {
    right: 0;
    position: absolute;
    top: -2.5rem;
    font-size: 1.5rem; }

.footer--bottomContainer {
  margin-top: 4rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #999999;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent; }

.footer--socialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }
  .footer--socialContainer i {
    color: white;
    margin-left: 3.5rem; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */ }

.contacts-footer-img-container {
  background-image: url(../assets/contact-2.jpeg);
  background-image: cover;
  min-height: 670px;
  background-position: center;
  background-repeat: no-repeat; }

.contact-headerTitle1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 10rem;
  margin-bottom: 2.5rem; }

.contact-headerPar1 {
  max-width: 40%; }

.methodsOfContact-outerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 7rem; }
  .methodsOfContact-outerContainer i {
    font-size: 3rem; }

.methodsOfContact-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  padding: 0 5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.2); }
  .methodsOfContact-containers:nth-child(3n + 3) {
    border-right: none; }
  .methodsOfContact-containers h5 {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: black;
    margin-top: 2rem;
    margin-bottom: 1.5rem; }
  .methodsOfContact-containers p {
    margin-top: 0rem;
    margin-bottom: 0rem; }

.contact-headerTitle2 {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 5rem;
  margin-bottom: 1rem; }

.contact-headerPar2 {
  padding-bottom: 7rem; }

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .contactForm input, .contactForm textarea {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .contactForm input:hover, .contactForm textarea:hover {
      border-bottom: 1px solid black; }

#contactFormName,
#contactFormEmail,
#contactFormSubject {
  height: 3rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  margin-right: 10px;
  margin-left: 10px; }
  #contactFormName:nth-child(3n + 3),
  #contactFormEmail:nth-child(3n + 3),
  #contactFormSubject:nth-child(3n + 3) {
    margin-right: 0; }
  #contactFormName::-webkit-input-placeholder,
  #contactFormEmail::-webkit-input-placeholder,
  #contactFormSubject::-webkit-input-placeholder {
    color: #999999;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400;
    opacity: 1; }
  #contactFormName:-ms-input-placeholder,
  #contactFormEmail:-ms-input-placeholder,
  #contactFormSubject:-ms-input-placeholder {
    color: #999999;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400;
    opacity: 1; }
  #contactFormName::-ms-input-placeholder,
  #contactFormEmail::-ms-input-placeholder,
  #contactFormSubject::-ms-input-placeholder {
    color: #999999;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400;
    opacity: 1; }
  #contactFormName::placeholder,
  #contactFormEmail::placeholder,
  #contactFormSubject::placeholder {
    color: #999999;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400;
    opacity: 1; }
  #contactFormName:hover::-webkit-input-placeholder,
  #contactFormEmail:hover::-webkit-input-placeholder,
  #contactFormSubject:hover::-webkit-input-placeholder {
    color: black; }
  #contactFormName:hover:-ms-input-placeholder,
  #contactFormEmail:hover:-ms-input-placeholder,
  #contactFormSubject:hover:-ms-input-placeholder {
    color: black; }
  #contactFormName:hover::-ms-input-placeholder,
  #contactFormEmail:hover::-ms-input-placeholder,
  #contactFormSubject:hover::-ms-input-placeholder {
    color: black; }
  #contactFormName:hover::placeholder,
  #contactFormEmail:hover::placeholder,
  #contactFormSubject:hover::placeholder {
    color: black; }

#contactFormName {
  margin-left: 0; }

#contactFormText {
  margin-top: 2rem;
  width: 100%;
  height: 150px;
  color: #999999;
  font-size: 1.2rem;
  line-height: 25px;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-family: "Poppins", serif;
  resize: none; }
  #contactFormText::-webkit-input-placeholder {
    opacity: 1; }
  #contactFormText:-ms-input-placeholder {
    opacity: 1; }
  #contactFormText::-ms-input-placeholder {
    opacity: 1; }
  #contactFormText::placeholder {
    opacity: 1; }
  #contactFormText:hover::-webkit-input-placeholder {
    color: black;
    opacity: 1; }
  #contactFormText:hover:-ms-input-placeholder {
    color: black;
    opacity: 1; }
  #contactFormText:hover::-ms-input-placeholder {
    color: black;
    opacity: 1; }
  #contactFormText:hover::placeholder {
    color: black;
    opacity: 1; }

.textareaButton {
  font-size: 1.3rem;
  margin-top: 4rem;
  margin-bottom: 9rem;
  height: 2.5rem;
  padding: 0;
  background-color: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.blogBody {
  background-color: #EDEDED;
  height: 3000px;
  position: relative; }
  .blogBody .topCenteredHeader {
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    max-width: 70%; }

.blogBodyContainer {
  position: absolute;
  top: -8rem;
  left: 0;
  right: 0;
  width: 1180px;
  background-color: white;
  margin: 0 auto; }

.topCeneteredHeaderAndPar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2.5rem; }
  .topCeneteredHeaderAndPar .topCenteredHeader {
    text-align: center; }
  .topCeneteredHeaderAndPar span {
    color: black; }

.adminDateCategoryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .adminDateCategoryContainer .adminDateCategoryContainer-leftContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%; }
  .adminDateCategoryContainer .adminDateCategoryContainer-rightContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
