html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  color: black;
  font-size: 1.6rem;
  max-width: 1440px;
  margin: 0 auto; }
  @media (max-width: 450px) {
    body html, body body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; } }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: black; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .wrapper {
      max-width: 90%; } }

p {
  color: #999999;
  font-size: 1.2rem;
  line-height: 25px;
  letter-spacing: 0.3px;
  font-weight: 400; }

.header--nav {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 10; }

@media only screen and (max-width: 830px) {
  .fas.fa-search,
  .fas.fa-shopping-bag,
  .shoppingBagCircle div {
    display: none; } }

.wrapper--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .wrapper--header {
      display: none;
      padding: 0 20px; } }

.header--list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header--list a:hover {
    color: #999999; }

.header-left,
.header-right,
.header-logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%; }

.header--logo h1 {
  font-family: "Playfair Display", serif;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 1.4px;
  line-height: 26px; }

.header-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .header-left a {
    margin-right: 30px; }

.header-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .header-right a, .header-right i {
    margin-left: 30px; }

.shoppingBagCircle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.shoppingBagCircle div {
  position: absolute;
  content: '';
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #A4F1DC;
  font-size: 10px;
  padding-top: 2px; }

.hero-img {
  background-image: url(../assets/home-1.jpeg);
  height: 80vh;
  min-height: 500px;
  background-size: cover;
  background-position: center; }
  @media (max-width: 450px) {
    .hero-img {
      min-height: auto; } }

.hero-img-contacts {
  background-image: url(../assets/contact-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 540px;
  background-position: center; }

.hero-img-blog {
  background-image: url(../assets/blog-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 540px;
  background-position: center; }

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 */
nav {
  /*
	 * Just a quick hamburger
	 */
  /*
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
  /*
	 * But let's hide the middle one.
	 */
  /*
	 * Ohyeah and the last one should go the other direction
	 */
  /*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
  /*
	 * And let's slide it in from the left
	 */ }
  nav #menuToggle {
    display: block;
    width: 100vw;
    padding: 2rem;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    @media (min-width: 768px) {
      nav #menuToggle {
        display: none; } }
  nav #menuToggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
  nav #menuToggle a:hover {
    color: tomato; }
  nav #menuToggle input {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }
  nav #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #111111c4;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  nav #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  nav #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%; }
  nav #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
    -ms-transform: rotate(45deg) translate(-2px, -1px);
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323; }
  nav #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    -ms-transform: rotate(0deg) scale(0.2, 0.2);
    transform: rotate(0deg) scale(0.2, 0.2); }
  nav #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
    -ms-transform: rotate(-45deg) translate(0, -1px);
    transform: rotate(-45deg) translate(0, -1px); }
  nav #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  nav #menu li {
    padding: 10px 0;
    font-size: 22px; }
  nav #menuToggle input:checked ~ ul {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }

.about {
  background-color: #EDEDED;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 10rem; }
  @media (max-width: 768px) {
    .about {
      padding-bottom: 5rem; } }
  @media (max-width: 450px) {
    .about {
      padding-bottom: 3rem; } }

.about__upperText {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  padding-top: 100px;
  color: #999999;
  letter-spacing: 8px;
  font-size: 1.4rem; }
  @media (max-width: 768px) {
    .about__upperText {
      padding-top: 5rem; } }
  @media (max-width: 450px) {
    .about__upperText {
      padding-top: 3rem; } }

.about--contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  position: relative; }
  @media only screen and (max-width: 900px) {
    .about--contentContainer {
      max-width: 90%; } }
  @media only screen and (max-width: 700px) {
    .about--contentContainer {
      max-width: 95%; } }
  @media only screen and (max-width: 670px) {
    .about--contentContainer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 70%; } }

.about--imgContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 45%;
  flex: 1 0 45%;
  border: 10px solid white; }
  .about--imgContainer img {
    display: block;
    width: 100%; }
  @media only screen and (max-width: 670px) {
    .about--imgContainer {
      margin-bottom: 2rem; } }

.about--textContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0 0 50px;
  margin-bottom: 0; }
  @media only screen and (max-width: 900px) {
    .about--textContainer {
      padding: 0 0 0 40px; } }
  @media only screen and (max-width: 700px) {
    .about--textContainer {
      padding: 0 0 0 25px; } }
  @media only screen and (max-width: 670px) {
    .about--textContainer {
      padding: 0 0 0 0px; } }

.about--textContainer__line {
  width: 50px;
  border-bottom: 1px solid black; }
  @media (max-width: 450px) {
    .about--textContainer__line {
      display: none; } }

.about--textContainer__title {
  font-size: 3.5rem;
  font-family: "Playfair Display", serif; }
  @media (max-width: 768px) {
    .about--textContainer__title {
      font-family: "Playfair Display", serif;
      font-size: 2.3rem;
      font-weight: 700;
      letter-spacing: 1.2px; } }

.about--textContainer__par,
.about--textContainer__name {
  color: #999999;
  font-size: 1.2rem;
  line-height: 25px;
  letter-spacing: 0.3px;
  font-weight: 400;
  margin: 0; }

.about--textContainer__name span {
  color: black;
  font-weight: 600; }

.about--circle img {
  position: absolute;
  bottom: -100px;
  left: -100px;
  z-index: 1;
  width: 210px;
  height: 210px; }

@media (max-width: 992px) {
  .about--circle {
    display: none; } }

@media (max-width: 450px) {
  .about--textContainer__name {
    padding-bottom: 4rem;
    padding-top: 2rem; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 1060px) {
    .info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.info--leftContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 65%;
  flex: 1 1 65%;
  padding-left: 13%;
  padding-right: 7%;
  padding-top: 7%;
  padding-bottom: 7%; }
  @media only screen and (max-width: 1060px) {
    .info--leftContainer {
      padding-left: 7%;
      max-width: 75%;
      margin: 0 auto; } }
  @media (max-width: 450px) {
    .info--leftContainer {
      max-width: 75%;
      padding: 0 auto; } }

.info--rightContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .info--rightContainer img {
    min-width: 400px;
    font-size: 0;
    display: block;
    width: 100%; }
  @media only screen and (max-width: 1060px) {
    .info--rightContainer {
      display: none; } }

.info--leftContainer .articleBox {
  min-width: 180px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  margin: 0 20px; }
  .info--leftContainer .articleBox div {
    position: relative; }
    .info--leftContainer .articleBox div i {
      position: absolute;
      top: 18px;
      left: -32px;
      font-size: 2.4rem; }
      @media (max-width: 450px) {
        .info--leftContainer .articleBox div i {
          display: none; } }
  @media (max-width: 450px) {
    .info--leftContainer .articleBox {
      width: 100%;
      margin: 0 0 2rem 0; }
      .info--leftContainer .articleBox:hover h5 {
        text-decoration: none !important; } }

.reviews {
  padding-top: 15rem;
  background-image: url(../assets/pattern.png);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 720px; }
  @media (max-width: 768px) {
    .reviews {
      padding-top: 5rem; } }
  @media (max-width: 450px) {
    .reviews {
      padding-top: 0rem;
      background-image: none;
      height: auto; } }

.reviews-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.testimonial {
  width: 100%;
  height: 550px;
  background-color: white;
  padding: 7rem 5rem;
  text-align: center; }
  .testimonial h5 {
    color: #999999;
    letter-spacing: 8px;
    font-size: 1.4rem; }
    @media (max-width: 450px) {
      .testimonial h5 {
        font-size: 1rem; } }
  .testimonial h2 {
    font-family: "Playfair Display", serif;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 60px; }
    @media (max-width: 992px) {
      .testimonial h2 {
        font-size: 3rem; } }
    @media (max-width: 450px) {
      .testimonial h2 {
        font-size: 2.5rem; } }
  .testimonial .review--italic_par {
    font-family: "Playfair Display", serif;
    font-style: italic;
    line-height: 3.6rem;
    font-size: 2.4rem;
    color: black; }
    @media (max-width: 992px) {
      .testimonial .review--italic_par {
        font-size: 2rem; } }
    @media (max-width: 576px) {
      .testimonial .review--italic_par {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem; } }
    @media (max-width: 450px) {
      .testimonial .review--italic_par {
        font-size: 1.6rem; } }
  .testimonial .fivestars i {
    font-size: 2rem;
    color: #F6AB09; }
  @media (max-width: 450px) {
    .testimonial .fivestars {
      text-align: center; } }
  .testimonial .reviews__name {
    color: #999999;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400; }
    .testimonial .reviews__name span {
      color: black;
      font-weight: 600; }
  @media (max-width: 576px) {
    .testimonial {
      padding: 3rem 1rem; } }

.left-arrow,
.right-arrow {
  position: absolute;
  top: 275px;
  font-size: 5rem; }
  .left-arrow i:hover,
  .right-arrow i:hover {
    color: #999999; }

.left-arrow {
  left: -5rem; }
  @media (max-width: 1200px) {
    .left-arrow {
      left: 0rem; } }
  @media (max-width: 992px) {
    .left-arrow {
      left: 0rem; } }
  @media (max-width: 576px) {
    .left-arrow {
      top: 225px;
      font-size: 3rem; } }
  @media (max-width: 450px) {
    .left-arrow {
      top: 255px; } }

.right-arrow {
  right: -5rem; }
  @media (max-width: 1200px) {
    .right-arrow {
      right: 0rem; } }
  @media (max-width: 576px) {
    .right-arrow {
      top: 225px;
      font-size: 3rem; } }
  @media (max-width: 450px) {
    .right-arrow {
      top: 255px; } }

.gallery {
  padding-top: 10rem;
  background-image: url(../assets/pattern.png);
  background-position: center;
  padding-bottom: 12rem; }
  @media (max-width: 768px) {
    .gallery {
      padding-top: 3rem;
      padding-bottom: 10rem; } }

.gallery-wrapper h5 {
  color: #999999;
  letter-spacing: 8px;
  font-size: 1.4rem;
  text-align: center; }

.gallery-wrapper h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 60px;
  text-align: center; }
  @media (max-width: 992px) {
    .gallery-wrapper h2 {
      font-size: 3rem; } }

.gallery--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .gallery--container div {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    margin: 5px; }
    @media (max-width: 992px) {
      .gallery--container div {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
        flex: 1 1 45%; } }
    @media (max-width: 768px) {
      .gallery--container div {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 95%;
        flex: 1 1 95%;
        width: 70% !important; } }
    .gallery--container div img {
      display: block;
      width: 100%; }
      @media (max-width: 768px) {
        .gallery--container div img {
          width: 70% !important;
          margin: 0 auto; } }
      @media (max-width: 576px) {
        .gallery--container div img {
          width: 95% !important; } }

.contacts--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 500px; }
  @media (max-width: 768px) {
    .contacts--container {
      min-height: 450px; } }
  @media (max-width: 450px) {
    .contacts--container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.contacts--leftContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 55%;
  flex: 1 1 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .contacts--leftContainer img {
    display: block;
    width: auto; }
  @media (max-width: 1200px) {
    .contacts--leftContainer {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%; } }
  @media (max-width: 768px) {
    .contacts--leftContainer {
      display: none; } }
  @media (max-width: 450px) {
    .contacts--leftContainer {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem; } }

.contacts--rightContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 45%;
  flex: 1 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 15rem;
  padding-top: 7rem; }
  .contacts--rightContainer h5 {
    color: #999999;
    letter-spacing: 8px;
    font-size: 1.4rem; }
    @media (max-width: 450px) {
      .contacts--rightContainer h5 {
        text-align: center;
        margin-bottom: 5rem; } }
  .contacts--rightContainer h2 {
    font-family: "Playfair Display", serif;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 3rem; }
    @media (max-width: 768px) {
      .contacts--rightContainer h2 {
        font-size: 3.5rem;
        margin-bottom: 1rem; } }
    @media (max-width: 450px) {
      .contacts--rightContainer h2 {
        text-align: center;
        margin-bottom: 1rem; } }
  .contacts--rightContainer h3 {
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #999999; }
    .contacts--rightContainer h3 span {
      color: black; }
  .contacts--rightContainer p {
    width: 300px;
    margin-top: 0;
    margin-bottom: 0; }
    @media (max-width: 992px) {
      .contacts--rightContainer p {
        width: 100%; } }
  @media (max-width: 1200px) {
    .contacts--rightContainer {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      padding-left: 10rem;
      padding-top: 3rem; } }
  @media (max-width: 992px) {
    .contacts--rightContainer {
      padding-left: 6rem; } }
  @media (max-width: 768px) {
    .contacts--rightContainer {
      padding-left: 3rem;
      text-align: center; } }
  @media (max-width: 450px) {
    .contacts--rightContainer {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      padding: 3rem; } }

.contacts--email {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media (max-width: 768px) {
    .contacts--email {
      padding: 1rem 0; } }
  .contacts--email span {
    font-weight: 600;
    color: black; }

.contacts--call span {
  display: block;
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 3rem; }
  @media (max-width: 576px) {
    .contacts--call span {
      font-size: 2.5rem; } }

.footer {
  min-height: 270px;
  padding-top: 6rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.8); }

.footer--upperConainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer--upperConainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .footer--upperConainer ul li:hover a {
      color: white; }
    .footer--upperConainer ul a {
      color: white;
      color: #999999;
      font-size: 1.2rem;
      line-height: 25px;
      letter-spacing: 0.3px;
      font-weight: 400;
      line-height: 2rem; }
  @media (max-width: 576px) {
    .footer--upperConainer {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .footer--upperConainer .footer--upperConainer__firstList,
      .footer--upperConainer .footer--upperConainer__secondList {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
        flex: 1 0 45%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      .footer--upperConainer .footer--upperConainer__secondList {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; } }

.form--container {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #999999;
  font-size: 1.2rem;
  line-height: 25px;
  letter-spacing: 0.3px;
  font-weight: 400; }
  .form--container label {
    display: block; }
  .form--container input[type=email] {
    width: 100%;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999999;
    height: 41px; }
  .form--container input[placeholder] {
    font-size: 1.4rem;
    color: #999999;
    padding-left: 0; }
  @media (max-width: 576px) {
    .form--container {
      margin-top: 5rem; } }

.footer--upperConainer ul {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.paperPlaneContainer {
  position: relative;
  right: 0;
  top: 0; }
  .paperPlaneContainer i {
    right: 0;
    position: absolute;
    top: -2.5rem;
    font-size: 1.5rem; }

.footer--bottomContainer {
  margin-top: 4rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #999999;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent; }
  @media (max-width: 576px) {
    .footer--bottomContainer {
      margin-top: 6rem; } }

.footer--socialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }
  .footer--socialContainer i {
    color: white;
    margin-left: 3.5rem; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */ }

.contacts-footer-img-container {
  background-image: url(../assets/contact-2.jpeg);
  background-image: cover;
  min-height: 670px;
  background-position: center;
  background-repeat: no-repeat; }

.contact-headerTitle1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 10rem;
  margin-bottom: 2.5rem; }

.contact-headerPar1 {
  max-width: 40%; }

.methodsOfContact-outerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 7rem; }
  .methodsOfContact-outerContainer i {
    font-size: 3rem; }

.methodsOfContact-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  padding: 0 5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.2); }
  .methodsOfContact-containers:nth-child(3n + 3) {
    border-right: none; }
  .methodsOfContact-containers h5 {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: black;
    margin-top: 2rem;
    margin-bottom: 1.5rem; }
  .methodsOfContact-containers p {
    margin-top: 0rem;
    margin-bottom: 0rem; }

.contact-headerTitle2 {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 5rem;
  margin-bottom: 1rem; }

.contact-headerPar2 {
  padding-bottom: 7rem; }

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .contactForm input, .contactForm textarea {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .contactForm input:hover, .contactForm textarea:hover {
      border-bottom: 1px solid black; }

#contactFormName,
#contactFormEmail,
#contactFormSubject {
  height: 3rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  margin-right: 10px;
  margin-left: 10px; }
  #contactFormName:nth-child(3n + 3),
  #contactFormEmail:nth-child(3n + 3),
  #contactFormSubject:nth-child(3n + 3) {
    margin-right: 0; }
  #contactFormName::-webkit-input-placeholder,
  #contactFormEmail::-webkit-input-placeholder,
  #contactFormSubject::-webkit-input-placeholder {
    color: #999999;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400;
    opacity: 1; }
  #contactFormName:-ms-input-placeholder,
  #contactFormEmail:-ms-input-placeholder,
  #contactFormSubject:-ms-input-placeholder {
    color: #999999;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400;
    opacity: 1; }
  #contactFormName::-ms-input-placeholder,
  #contactFormEmail::-ms-input-placeholder,
  #contactFormSubject::-ms-input-placeholder {
    color: #999999;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400;
    opacity: 1; }
  #contactFormName::placeholder,
  #contactFormEmail::placeholder,
  #contactFormSubject::placeholder {
    color: #999999;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-weight: 400;
    opacity: 1; }
  #contactFormName:hover::-webkit-input-placeholder,
  #contactFormEmail:hover::-webkit-input-placeholder,
  #contactFormSubject:hover::-webkit-input-placeholder {
    color: black; }
  #contactFormName:hover:-ms-input-placeholder,
  #contactFormEmail:hover:-ms-input-placeholder,
  #contactFormSubject:hover:-ms-input-placeholder {
    color: black; }
  #contactFormName:hover::-ms-input-placeholder,
  #contactFormEmail:hover::-ms-input-placeholder,
  #contactFormSubject:hover::-ms-input-placeholder {
    color: black; }
  #contactFormName:hover::placeholder,
  #contactFormEmail:hover::placeholder,
  #contactFormSubject:hover::placeholder {
    color: black; }

#contactFormName {
  margin-left: 0; }

#contactFormText {
  margin-top: 2rem;
  width: 100%;
  height: 150px;
  color: #999999;
  font-size: 1.2rem;
  line-height: 25px;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-family: "Poppins", serif;
  resize: none; }
  #contactFormText::-webkit-input-placeholder {
    opacity: 1; }
  #contactFormText:-ms-input-placeholder {
    opacity: 1; }
  #contactFormText::-ms-input-placeholder {
    opacity: 1; }
  #contactFormText::placeholder {
    opacity: 1; }
  #contactFormText:hover::-webkit-input-placeholder {
    color: black;
    opacity: 1; }
  #contactFormText:hover:-ms-input-placeholder {
    color: black;
    opacity: 1; }
  #contactFormText:hover::-ms-input-placeholder {
    color: black;
    opacity: 1; }
  #contactFormText:hover::placeholder {
    color: black;
    opacity: 1; }

.textareaButton {
  font-size: 1.3rem;
  margin-top: 4rem;
  margin-bottom: 9rem;
  height: 2.5rem;
  padding: 0;
  background-color: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.blogBody {
  background-color: #EDEDED;
  height: 2360px;
  position: relative; }
  .blogBody .topCenteredHeader {
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    max-width: 70%; }
    @media (max-width: 768px) {
      .blogBody .topCenteredHeader {
        max-width: 90%; } }
  @media (max-width: 450px) {
    .blogBody {
      height: auto; } }

.blogBodyContainer {
  position: absolute;
  top: -8rem;
  left: 0;
  right: 0;
  bottom: auto;
  width: 90%;
  max-width: 1180px;
  background-color: white;
  margin: 0 auto; }
  @media (max-width: 450px) {
    .blogBodyContainer {
      max-width: 90%;
      position: relative; } }

.topCeneteredHeaderAndPar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 4rem; }
  @media (max-width: 768px) {
    .topCeneteredHeaderAndPar .topCenteredPar {
      font-size: 1.2rem;
      max-width: 80%; } }
  @media (max-width: 576px) {
    .topCeneteredHeaderAndPar .topCenteredPar {
      font-size: 1.2rem;
      max-width: 100%; } }
  .topCeneteredHeaderAndPar .topCenteredHeader {
    text-align: center; }
    @media (max-width: 992px) {
      .topCeneteredHeaderAndPar .topCenteredHeader {
        font-size: 2.5rem; } }
    @media (max-width: 768px) {
      .topCeneteredHeaderAndPar .topCenteredHeader {
        font-size: 2rem; } }
    @media (max-width: 576px) {
      .topCeneteredHeaderAndPar .topCenteredHeader {
        font-size: 1.8rem; } }
  .topCeneteredHeaderAndPar span {
    color: black; }

.first {
  padding-top: 2rem; }
  @media (max-width: 992px) {
    .first {
      padding-top: 5rem; } }
  @media (max-width: 768px) {
    .first {
      padding-top: 2rem; } }

.adminDateCategoryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 10rem;
  border: 1px solid transparent;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 5rem; }
  @media (max-width: 992px) {
    .adminDateCategoryContainer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 3rem; } }
  .adminDateCategoryContainer .adminDateCategoryContainer-leftContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    @media (max-width: 992px) {
      .adminDateCategoryContainer .adminDateCategoryContainer-leftContainer {
        margin-bottom: 0.5rem; } }
    .adminDateCategoryContainer .adminDateCategoryContainer-leftContainer__rightSide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
  .adminDateCategoryContainer .adminDateCategoryContainer-rightContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .adminDateCategoryContainer .adminDateCategoryContainer-rightContainer .rightContainer-box {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
      flex: 1 0 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      @media (max-width: 450px) {
        .adminDateCategoryContainer .adminDateCategoryContainer-rightContainer .rightContainer-box {
          font-size: 1rem;
          text-align: left; } }
    @media (max-width: 992px) {
      .adminDateCategoryContainer .adminDateCategoryContainer-rightContainer {
        margin-top: 2rem; } }
    @media (max-width: 450px) {
      .adminDateCategoryContainer .adminDateCategoryContainer-rightContainer {
        margin-top: 1rem; } }
  .adminDateCategoryContainer H5 {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: black;
    margin-top: 2rem;
    margin-bottom: 0rem; }
    @media (max-width: 768px) {
      .adminDateCategoryContainer H5 {
        font-size: 1.2rem; } }
    @media (max-width: 576px) {
      .adminDateCategoryContainer H5 {
        font-size: 1rem; } }
  @media (max-width: 768px) {
    .adminDateCategoryContainer p {
      font-size: 1rem; } }
  @media (max-width: 576px) {
    .adminDateCategoryContainer p {
      font-size: 0.8rem; } }
  @media (max-width: 992px) {
    .adminDateCategoryContainer {
      margin-bottom: 5rem; } }
  @media (max-width: 450px) {
    .adminDateCategoryContainer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 5rem; } }

.avatarCircleContainer img {
  border-radius: 100%;
  margin-right: 2rem; }

.adminDateCategoryContainer-leftContainer__rightSide,
.rightContainer-box {
  margin-top: 0;
  margin-bottom: 0; }
  .adminDateCategoryContainer-leftContainer__rightSide p,
  .rightContainer-box p {
    margin-top: 0;
    margin-bottom: 0; }

.blog-body-paragraphs {
  padding-bottom: 2rem;
  margin: 0 auto; }
  .blog-body-paragraphs:hover {
    color: black; }

.blogBody--socialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .blogBody--socialContainer H5 {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: black; }
  .blogBody--socialContainer .blogBody--socials_Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-bottom: 6rem; }
    .blogBody--socialContainer .blogBody--socials_Container li {
      padding: 1rem; }
    @media (max-width: 768px) {
      .blogBody--socialContainer .blogBody--socials_Container {
        margin-bottom: 0; } }

.blogBody--socials_Container a {
  color: #999999; }
  .blogBody--socials_Container a:hover {
    color: #A4F1DC; }

.relatedPosts, .blog--commentsSection__header, .blog--comment--form {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #CCCCCC; }
  .relatedPosts H4, .blog--commentsSection__header H4, .blog--comment--form H4 {
    font-family: "Playfair Display", serif;
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 0.5px; }

.relatedPostsArticles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 5rem; }
  @media (max-width: 450px) {
    .relatedPostsArticles {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.relatedPostsArticles .articleBox {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  margin-right: 20px;
  padding: 0;
  height: auto;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #CCCCCC; }
  .relatedPostsArticles .articleBox:nth-child(3) {
    margin-right: 0; }
  .relatedPostsArticles .articleBox__H5 {
    font-family: "Playfair Display", serif;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0px;
    color: black;
    width: 80%; }
  .relatedPostsArticles .articleBox .fa-long-arrow-alt-right {
    position: relative;
    top: -3.3rem;
    left: 6rem;
    font-size: 1.5rem;
    color: #999999; }
  .relatedPostsArticles .articleBox:hover {
    -webkit-box-shadow: 0 6px 2px -2px gray;
    box-shadow: 0 6px 2px -2px gray; }
    .relatedPostsArticles .articleBox:hover H5 {
      text-decoration: underline; }
    .relatedPostsArticles .articleBox:hover .articleBox__continue, .relatedPostsArticles .articleBox:hover .fa-long-arrow-alt-right {
      color: black; }

.blog--commentsSection__header {
  margin-top: 6rem;
  margin-bottom: 4rem; }

.blog--commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 4rem; }

.commentContainer__leftSide {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 2%;
  flex: 1 0 2%; }
  .commentContainer__leftSide img {
    display: block;
    min-width: 70px;
    max-width: 90px; }
    @media (max-width: 768px) {
      .commentContainer__leftSide img {
        padding-right: 2rem; } }
  @media (max-width: 1200px) {
    .commentContainer__leftSide {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 1%;
      flex: 1 1 1%;
      margin-right: 0rem; } }
  @media (max-width: 992px) {
    .commentContainer__leftSide {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
      flex: 1 1 10%; } }

.commentContainer__rightSide {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 85%;
  flex: 1 1 85%;
  background-color: #EDEDED;
  height: auto;
  padding-left: 2rem;
  padding-top: 1rem;
  position: relative; }
  .commentContainer__rightSide .tip {
    position: absolute;
    top: 1rem;
    left: -1.3rem;
    color: #EDEDED; }
  .commentContainer__rightSide .commentName {
    color: black;
    font-size: 1.4rem; }
    .commentContainer__rightSide .commentName span {
      color: #A4F1DC;
      font-style: italic; }
  .commentContainer__rightSide .commentDate {
    color: rgba(153, 153, 153, 0.6);
    font-size: 1rem; }
  @media (max-width: 1200px) {
    .commentContainer__rightSide {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
      flex: 1 1 80%; } }

.commentName,
.commentText,
.commentDate {
  margin: 0; }

.commentText {
  padding-right: 1rem;
  line-height: 150%; }

.blog--comment--form {
  margin-bottom: 4rem; }

.textareaButton.blogPageButton {
  background-color: #84A016;
  padding: 1.5rem 2rem 2.5rem 2rem;
  color: white;
  border: none; }
  .textareaButton.blogPageButton:hover {
    border: none;
    background-color: darkolivegreen; }

@media (max-width: 450px) {
  .contactForm.blog-page-contact #contactFormEmail,
  .contactForm.blog-page-contact #contactFormSubject {
    margin-left: 0; } }

@media (max-width: 450px) {
  .contactForm.blog-page-contact .textareaButton {
    margin-bottom: 1rem; } }

@media (max-width: 450px) {
  .contactForm.blog-page-contact #contactFormName,
  .contactForm.blog-page-contact #contactFormEmail {
    margin-right: 0; } }

@media (min-width: 450px) and (max-width: 662px) {
  #contactFormSubject,
  #contactFormEmail {
    margin-left: 0 !important;
    margin-right: 0 !important; } }

@media (min-width: 468px) and (max-width: 520px) {
  .blogBody {
    height: 2460px; } }

@media (min-width: 455px) and (max-width: 467px) {
  .blogBody {
    height: 2560px; } }

@media (min-width: 400px) and (max-width: 454px) {
  .blogBody {
    height: 3400px; } }
